<nav class="navbar navbar-expand navbar-light bg-primary d-flex justify-content-between">
  <div class="navbar-brand mb-0 h1 text-white">Docusign Demo</div>
  <div class="navbar-brand mb-0 h1 text-white">
    <a href="https://github.com/sarveshjoshi22/angular-docusign-integration" class="text-white h3 mr-3"
      title="GitHub"><i class="fab fa-github"></i></a>
    <a href="https://github.com/sarveshjoshi22/angular-docusign-integration" title="Blog" class="text-white h3"><i
        class="fas fa-globe"></i></a>
  </div>
</nav>
<div *ngIf="!accessTokenStatus" class="container-fluid paddTop50">
  <div class="row">
    <div class="col-md-12">
      <h4 class="card-title align-items-center">
        Remote signing using docusign
      </h4>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type='reset' (click)="updateAccessToken()"
        class="btn btn-primary align-items-center justify-content-center">
        <i class="material-icons">
          touch_app
        </i><span>Start</span></button>
    </div>
  </div>

</div>
<div *ngIf="accessTokenStatus" class="container-fluid">
  <form #resumeForm="ngForm">
    <div class="row">
      <div class="col-md-8">
        <div class="shadow-sm card">
          <div class="card-body">
            <h4 class="card-title d-flex align-items-center">
              <i class="material-icons">
                account_circle
              </i>
              Signer Details</h4>
            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="resume.name" name="name" placeholder="Name"
                    #Name="ngModel" required
                    [ngClass]="{'is-invalid': Name.invalid && (Name.touched || resumeForm.submitted) }">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="resume.contactNo" name="contactNo"
                    placeholder="Contact No." #ContactNo="ngModel" required
                    [ngClass]="{'is-invalid': ContactNo.invalid && (ContactNo.touched || resumeForm.submitted) }">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" [(ngModel)]="resume.address" name="address" rows="3"
                    placeholder="Address" #Address="ngModel" required
                    [ngClass]="{'is-invalid': Address.invalid && (Address.touched || resumeForm.submitted) }"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="shadow-sm card">
          <div class="card-body">
            <h4 class="card-title d-flex align-items-center">
              <i class="material-icons">
                email
              </i>
              Email detail</h4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="resume.email" name="emailId"
                    placeholder="To: Email ID" #Email="ngModel" required
                    [ngClass]="{'is-invalid': Email.invalid && (Email.touched || resumeForm.submitted) }">
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="resume.emailCC" name="emailIdCC"
                    placeholder="CC: Email ID " #EmailCC="ngModel" required
                    [ngClass]="{'is-invalid': EmailCC.invalid && (EmailCC.touched || resumeForm.submitted) }">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="resume.emailSubject" name="emailSubject"
                    placeholder="Email Subject" #emailSubject="ngModel" required
                    [ngClass]="{'is-invalid': emailSubject.invalid && (emailSubject.touched || resumeForm.submitted) }">
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="resume.signatureKeyword" name="signatureKeyword"
                    placeholder="Keyword/unique string on which signature tab is required" #SignatureKeyword="ngModel"
                    required
                    [ngClass]="{'is-invalid': SignatureKeyword.invalid && (SignatureKeyword.touched || resumeForm.submitted) }">
                </div>

              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="resume.textFieldKeyword" name="textFieldKeyword"
                    placeholder="Keyword/unique string on which text field tab is required" #TextFieldKeyword="ngModel"
                    required
                    [ngClass]="{'is-invalid': TextFieldKeyword.invalid && (TextFieldKeyword.touched || resumeForm.submitted) }">
                </div>
              </div>
              <div class="col-md-12">Note: If in case tab to place on multiple location with different keyword/unique
                string use comma to separate them in above text field</div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-4">


        <div class="card p-4">
          <div class="form-group">
            <label class="h4 mb-3" for="">Select PDF file</label>
            <input type="file" accept=".pdf" class="form-control-file" (change)="fileChanged($event)"
              aria-describedby="fileHelpId">
          </div>
          <!-- <img *ngIf="resume.profilePic" [src]="resume.profilePic" class="img-thumbnail"> -->
        </div>

        <div class="shadow-sm card action-buttons">
          <button (click)="resumeForm.valid ? sendEmail() : ''"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              picture_as_pdf
            </i> <span>Send Email</span></button>


          <button type='reset' (click)="resetForm()"
            class="btn btn-primary d-flex align-items-center justify-content-center">
            <i class="material-icons">
              clear
            </i><span>Reset</span></button>
        </div>
      </div>
    </div>
  </form>
</div>